@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 226.2 57% 21%;

      --card: 0 0% 100%;
      --card-foreground: 226.2 57% 21%;

      --popover: 0 0% 100%;
      --popover-foreground: 226.2 57% 21%;

      --primary: 224.4 64.3% 32.9%;
      --primary-foreground: 213.8 100% 96.9%;

      --secondary: 214.3 94.6% 92.7%;
      --secondary-foreground: 224.4 64.3% 32.9%;

      --muted: 214.3 94.6% 92.7%;
      --muted-foreground: 217.2 91.2% 59.8%;

      --accent: 214.3 94.6% 92.7%;
      --accent-foreground: 224.4 64.3% 32.9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 213.8 100% 96.9%;

      --border: 213.3 96.9% 87.3%;
      --input: 213.3 96.9% 87.3%;
      --ring: 226.2 57% 21%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 6.67%;
      --foreground: 0 0% 99.6%;
  
      --card: 226.2 57% 21%;
      --card-foreground: 213.8 100% 96.9%;

      --popover: 226.2 57% 21%;
      --popover-foreground: 213.8 100% 96.9%;

      --primary: 213.8 100% 96.9%;
      --primary-foreground: 224.4 64.3% 32.9%;

      --secondary: 0 0% 11.8%;
      --secondary-foreground: 213.8 100% 96.9%;

      --muted: 225.9 70.7% 40.2%;
      --muted-foreground: 240 5.03% 64.9%;

      --accent: 225.9 70.7% 40.2%;
      --accent-foreground: 213.8 100% 96.9%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 213.8 100% 96.9%;

      --border: 0 0% 25%;
      --input: 225.9 70.7% 40.2%;
      --ring: 211.7 96.4% 78.4%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--background) / 0.1);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary) );
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--border) );
  border-radius: 100px;
}